.home-blog .hero h1,
.home-blog .hero .description {
    font-weight: 800; 
    font-size: 22px;
    background: -webkit-linear-gradient(45deg,#70f7fe,#fbd7c6,#fdefac,#bfb5dd,#bed5f5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-animation: run 1s linear 0s infinite normal none running;
    animation: run 1s linear 0s infinite normal none running;
}
#app .theme-container .navbar .home-link .site-name {
    font-weight: 800;
    font-size: 22px;
    background: -webkit-linear-gradient(45deg,#70f7fe,#fbd7c6,#fdefac,#bfb5dd,#bed5f5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-animation: run 1s linear 0s infinite normal none running;
    animation: run 1s linear 0s infinite normal none running;
}

.home-blog .hero h1 {
    transition: all 0.25s ease-in-out 0.04s;
    transform: translateY(0px);
    opacity: 1;

    -webkit-transform: matrix(1,0,0,1,0,0);
    text-shadow: 1px 1px 0 #ff3f1a, -1px -1px 0 #00a7e0;
    font-size: 5rem;
    font-weight: 800;
    margin: 2rem auto;
    color: #fff;
}



.home-blog .hero {
    position: relative;
}